<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="./view/css/styles.css" type="text/css" rel="stylesheet" />
    <link href="./vendor/bootstrap-4.0.0-dist/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <script src="./vendor/bootstrap-4.0.0-dist/js/bootstrap.min.js"></script>    
    <script src="https://kit.fontawesome.com/0eb97166be.js" crossorigin="anonymous"></script>
    <title>Nim: Inicio</title>
</head>

<body>
    <section>
        <h1 id="title"><i class="fas fa-table"> Nim: El Juego</i></h1>

        <p><button type="button" class="btn btn-outline-primary btn-lg" id="play"><i class="fas fa-play">
                    Jugar</i></button></p>
        <p><button type="button" class="btn btn-outline-info btn-lg" id="tutorial"><i class="fas fa-file-alt">
                    Tutorial</i></button></p>
    </section>
    <footer class="page-footer" id="footer">


        <div class="footer-copyright text-center py-3">© 2020 Copyright: Jose Marín - Yohel Pérez para LyR III UdeA            
        </div>
        <!-- Copyright -->

    </footer>
    
</body>

</html>